
.value
{
    margin-left: 10px;
}

/* The "real" key pressed by the user */ 
.label {
    font-weight:bold;
}

/* key guessed is the good one */
.goodMatch {
    color:black;
}

/* key guessed is the wrong one */
.badMatch {
    color:red;
}

.graph {
    margin-bottom: 2em;
    height: 300px; 
    width: 100%;
}